{% extends 'admin/base.html.twig' %}


{% block title %}New Produit{% endblock %}

{% block body %}
    <h1>Create new Produit</h1>

    {{ include('admin/admin_product/_form.html.twig') }}

    <a href="{{ path('admin_product_index') }}">back to list</a>
{% endblock %}
